ENVIRONMENT=development
COSMOSDB_API=MONGODB
COSMOSDB_MONGODB_CONNECTION_STRING=
COSMOSDB_MONGODB_DATABASE_NAME=mongodb-demo-db
COSMOSDB_MONGODB_COLLECTION_NAME=mongodb-demo-collection
COSMOSDB_SQL_API_URI=https://YOUR-RESOURCE-NAME.documents.azure.com:443/
COSMOSDB_SQL_API_KEY=
COSMOSDB_SQL_API_DATABASE_NAME=sqlapi-demo-db
COSMOSDB_SQL_API_CONTAINER_NAME=sqlapi-demo-container